.jumbotron {
    background-color: #34aa44;
    color: #fff;
    height: 124px;
    font-family: Montserrat, sans-serif;
}

.jumbotron h1 {
    /* Moving text up within jumbotron */
    margin-top: -50px;
}

div {
    padding-left: 20px;
}


#cover {
    background-color: #343a40;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

/* Making sure snow canvas is underneath all other elements */
canvas:first-of-type {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.modal-backdrop {
    /* bug fix - no overlay */
    display: none;
}

/* Styling for input container */
.float-container {
    padding: 20px;
}

#input {
    width: 30%;
    float: left;
    padding: 20px;
    background: #343a40;
    border-radius: 25px;
    border: 3px solid #fff;
}

label, input {
    color: white;
}

#output {
    width: 60%;
    float: left;
}

/* Vertical padding for form checkboxes */
.checks {
    padding-top: 30px;
    padding-bottom: 30px;
}